* {
  font-family: "Kumbh Sans", sans-serif;
}
p {
  font-size: 1rem;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  width: 80%;
  height: 4.5rem;
  margin: auto;
  box-shadow: 0.5px 2px 10px hsl(220, 14%, 95%);
  margin-bottom: 1rem;
}
.head1 ul {
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
  list-style: none;
  color: hsl(219, 9%, 45%);
  font-family: "Kumbh Sans", sans-serif;
}
.head2 {
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
}
.header .logo {
  width: 3rem;
  margin: 0 1rem;
}

.main {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 2rem;
  column-gap: 2rem;
}

.left {
  display: flex;
  width: 25rem;
  flex-direction: column;
}

.left .productImg {
  width: 23rem;
  border-radius: 0.5rem;
}
.leftImges {
  display: flex;
  width: 23rem;
  justify-content: space-between;
}
.leftimges:hover {
  color: hsl(25, 100%, 94%);
}
.left .product {
  width: 4rem;
  border-radius: 0.3rem;
  margin: 1rem 0;
}

.right {
  width: 25rem;
  margin-top: 2rem;
  margin-left: 1rem;
}

.orderQty {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 8rem;
  background-color: hsl(220, 14%, 75%);
  border-radius: 4px;
  border: none;
}

.qty {
  width: 2rem;
  /* padding: 5px; */
  border: none;
  text-align: center;
}
.qty-amount {
  padding: 0 1rem;
}

.cartBtn {
  background-color: hsl(26, 100%, 55%);
  color: white;
  font-size: 1.2rem;
  width: 20rem;
  height: 3rem;
  border-radius: 4px;
  border: none;
  padding: 0.5rem;
  margin-left: 1rem;
}
