* {
  font-family: "Kumbh Sans", sans-serif;
}
p {
  font-size: 1rem;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  width: 80%;
  height: 5rem;
  margin: auto;
  box-shadow: 0.5px 2px 10px hsl(220, 14%, 95%);
  margin-bottom: 20px;
}
.head1 ul {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  list-style: none;
  color: hsl(219, 9%, 45%);
  font-family: "Kumbh Sans", sans-serif;
}
.head2 {
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
}
.header .logo {
  width: 3rem;
  margin: 0 1rem;
}

.main {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 2rem;
  column-gap: 2rem;
}

.left {
  display: flex;
  flex-direction: column;
}

.left .productImg {
  width: 25rem;
  border-radius: 0.5rem;
}
.leftImges {
  display: flex;
  justify-content: space-between;
}
.left .product {
  width: 5rem;
  border-radius: 0.3rem;
  margin: 1rem 0;
}

.right {
  width: 30rem;
}
